html {
    scroll-behavior: smooth;
  }
  /* App.css */

body {
  margin: 0;
  padding: 0;
  font-family: serif !important;
}

/* Additional margin and padding styles as needed */

/* HomeCarousel.css */
@media (max-width: 768px) {
    .slide-title {
      font-size: 1.5rem; /* Adjust font size for mobile view */
    }
  
    .slide-text {
      font-size: 1rem; /* Adjust font size for mobile view */
    }
  }
 